body {font-family:'Nanum Gothic', sans-serif ;
color: rgb(0, 0, 0);
font-size: 16px;
line-height: normal;
}
ul {padding: 0;}
a {
  text-decoration: none;
  color: black;
  }
header {
  background-image: url("./images/Image\ d’iOS\ \(1\).jpg"), linear-gradient(to left, #333, #333 50%);
  background-size: cover;
  border-radius: 4px;
  width: 100%;
  height: 400px;
  margin-bottom: 60px;
}

  h1{text-align: center;
  color:red;
  font-weight: bold;
  padding-top: 40px;
  font-size: 40px;
  }
.filter {
  backdrop-filter: brightness(0.8);
  height: 100%;
}
.container {
  width: 700px;
  margin: auto;
}
#description {
  background-color: #FFDEDE;
  border-radius: 4px;
  padding: 20px 40px;
}



#description li {
  list-style: none;
  text-align: center;
}

#description ul{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

#description img {
  width: 120px;
  border-radius: 50%;
}
#project_cards {
  background-color: #FF8B8B;
  border-radius: 4px;
}
#project_cards ul {
  display: flex;
justify-content: space-around;}

.card {
  list-style: none;
  font-size: 15px;
  color: antiquewhite;
  padding: 20px 32px;
  margin: 16px 0 16px 0;
  border-color: aliceblue;
  border: solid;
  border-radius: 8px;
}

footer{
  border-radius: 4px;
  background-color: #EB4747;
}

footer li {
  list-style: none;
  font-size: 60px;
  color: rgb(0, 0, 0);
}

footer ul{
  display: flex;
  justify-content: space-around;
}

/* media queries == responsive */
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
